nav: center
  br
  a(href="/") Home 
  | &nbsp;
  a(href="/maps") Maplist
  | &nbsp;
  a(href="/auth/profile") Profile
  | &nbsp;
  a(href="/auth/login") Login
  | &nbsp;
  a(href="/auth/sigin") Sigin
  | &nbsp;
  a(href="/auth/logout") Logout
  hr